@import "tailwindcss";

@theme {
  --color-brand-primary: #01BF62;
  --color-brand-dark: #002412;
  --color-brand-secondary: #3A5648;
  --color-brand-lightBg: #F8FCFA;
  --color-brand-cardBg: #FFFFFF;

  --font-figtree: var(--font-figtree), sans-serif;
}

body {
  background-color: var(--color-brand-lightBg);
  color: var(--color-brand-dark);
  font-family: var(--font-figtree);
}
